<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="coredump Nadeldrucker-Interface">
        <meta name="author" content="coredump Rapperswil">
        <title>coredump linedump</title>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/sticky-footer.css" rel="stylesheet">
        <link href="/static/css/style.css" rel="stylesheet">
        <script src="/static/js/bootstrap.min.js"></script>
    </head>
    <body>

        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <div id="footer">
            <div class="container">
                <p class="text-muted">Proudly presented by <a href="https://www.coredump.ch/2013/10/11/ein-hackerspace-fuer-rapperswil/">coredump Rapperswil</a>. Powered by an <a href="http://www.epson.com/cgi-bin/Store/ProductQuickSpec.jsp?infoType=Specs&oid=10526">Epson LX300+</a> impact printer and a <a href="http://www.raspberrypi.org/faqs">Raspberry Pi</a> computer.</p>
            </div>
        </div>

    </body>
</html>
